# Supabase
SUPABASE_URL='https://rsedmdahrhxmrlrkizmp.supabase.co'
SUPABASE_ANON_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJzZWRtZGFocmh4bXJscmtpem1wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyNTI3OTAsImV4cCI6MjA4NjgyODc5MH0.JDZs9Ry5encKZ0vKR0Uqk_5vD0fbhyWmctap4vcZnPk'

# Vercel Blob
BLOB_READ_WRITE_TOKEN='vercel_blob_rw_EVIGeqVcHXmFaR97_AMia3bWflelG6d5lmBiWFAVYiErtQD'
